/* navigation */
*{
    font-family: "Open Sans", sans-serif;

}

.nav{
    position: sticky !important;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 100px ;
    height: 60px;
    align-items: center;
    background-color: white;
top: 0;
    transition: 0.3s;
    z-index: 100;


}

@media (min-width: 768px) {
    

.borderNav{
    position: sticky !important;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 100px ;
    height: 50px;
    align-items: center;
    background-color: white;
top: 0;
    transition: 0.3s;
    z-index: 100;
    box-shadow: 0 0 3px rgb(215, 215, 215);

}
}
.menu a{
    padding: 0 10px;
    color: #3e3e3e;
    text-decoration: none;
}
.logo img{
    height: 50px;
    margin-left: -140px;
    
}   

.menu a:hover{
    color: black;


}

    

.socials a{
    padding: 0 10px;
    text-decoration: none;
    color: #3e3e3e;
}
.socials a:hover{
    color: black;
}

.hamburger-menu{
    display: none;
}


/* hero*/

.hero{
    position: sticky;
    display: flex   ;
    height: 75dvh;
    justify-content: center;
    align-items: center;
}

.main img{
    height: 40dvh;
    margin-left: -600px;
    margin-top: 160px;
    z-index: 1000;

}
.shadow{
    height: 20px;
    width: 90px;
    background-color: black;
    position: absolute;
    top: 490px;
    left: 280px;
    border-radius: 100%;
    z-index: -1;
}
.main h3{
    position: absolute;
    top: 35dvh;
    left: 40dvw;
    font-weight: bold;
    font-size: 35px;
}

.hero-call-to-action{
    margin-top: 20px;

}
.hero-call-to-action button{
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: white;
    font-size: 18px;
    border: none;
    margin: 10px 10px;
    
}
.hero-call-to-action button a{
    color: white;
    text-decoration: none;
}
.hero-call-to-action button:hover{
    background-color: #3c3c3c;
}

.background-layer-modal{
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;

    background-color: #1e1e1e78;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-icon{
    font-size: 65px;
}


    

.contact-info-modal{
    width: 25vw;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
}
@media (max-width:768px) {
    .contact-info-modal{
    width: 300px;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
}

    
}
.contact-detail-modal{
    padding: 20px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;

}

.contact-detail-modal label{
    text-align: left;
    color: green;

}
.contact-detail-modal p{
    font-size: 16px;
}
.contact-detail-modal a{
    font-size: 16px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #1e1e1e;
}
.contact-detail-modal a:hover{
        color: rgb(0, 153, 255);


}
body.modal-open {
  overflow: hidden;
}

.social-media-modal{
    display: flex;
}
.social-media-modal a{
    font-size: 30px;
    padding-right: 10px;
}




.resume-modal{
    margin-top: 30px;
    z-index: 1000;
    background-color: white;
    height: 500px;
    overflow-y: scroll;
    width: 60vw;
    padding: 40px 40px;
    border-radius: 10px;
}

.resume-doc label{
    position: fixed;
    right: 300px;
    top: 100px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px 10px 20px 5px;
}

@media (max-width:768px) {

.resume-doc label{
    position: fixed;
    right: 20px;
    top: 100px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px 10px;
}}

@media (max-width:768px) {

    .resume-modal{
    margin-top: -50px;
    z-index: 1000;
    background-color: white;
    height: 500px;
    overflow-y: scroll;
    width: 80vw;
    padding: 20px 25px;
    border-radius: 10px;
}
}
.resume-doc p{
    font-size: 20px;
    font-weight: bold;
    color: green;

}
.resume-doc a{
    color: rgb(0, 157, 255);
    text-decoration: none;
}

.resume-doc li{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    list-style:disc;
}
.resume-doc span{
    font-size: 18px;
}

/* works */


.project-title{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    align-items: start;
}
.works-section a{
    text-decoration: none;
}
.works-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    transition: 0.3s;
    margin: 40px 100px;
    background-color: rgb(242, 242, 242);
}

@media (max-width:999px) {
    .works-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    transition: 0.3s;
    margin: 40px 20px;
    background-color: rgb(242, 242, 242);
}
    

    
}
.works-section div{


}


.works-card{
 
    padding: 50px 0 ;
    display: flex;
    border-bottom: 1px solid rgb(180, 180, 180);



  
}

.tags{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -5px;
    padding: 0;

}
.tags span{
    background-color: green;
    margin: 5px 5px;
    padding: 5px 5px;
    color: white;
}
.works-card-text{
    color: #3e3e3e;
    padding: 0 10px;
    margin-left: 30px;
   

}
.works-card-text a{
    text-decoration: none;

}
.works-card-text h1{
    font-size: 22px;
    padding-bottom: 10px;
}
.works-card-text p{
    width: 500px;
}
.works-card-text:hover{
    color: black;
}

.works-card img{
    position: relative;
    width: 500px;
    padding: 1px;
    box-shadow: 0 3px 5px rgb(195, 195, 195);
    border-radius: 10px ;


}
.works-card img:hover{
    opacity: 1;
}
/* project page*/


.back-arrow{
    font-size: 30px;
    padding: 30px;
    margin-left: 50px;
}
.back-arrow a{
    color: #3e3e3e;
    padding: 10px 10px;
    transition: 0.3s;

}
.back-arrow a:hover{
    color: black;
}
.project-page{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.project-page img{
    height: 400px;
   box-shadow: 0 0 3px rgb(166, 166, 166);    
}
.project-page h1{
    padding: 20px 0;
}




/* about us section*/
.about-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.about-image img{
    width: 1000px;
    border-radius: 20px;
    opacity: 0.6;


}
.about-image h1{
    font-size: 50px;
    position: absolute;
    color: green;
}
.text-part-about-first {
    margin-top: 50px;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;


    
}
.text-part-about-first p{
    width: 900px;
    text-align: center;
    color: #3e3e3e;
}
.text-part-about-second{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-top: 100px;
    margin-left: 200px;
    color: #2e2e2e;
}
.text-part-about-second h1{
    padding: 10px 0;
    font-size: 30px;
}
.text-part-about-second p{
    margin: 20px 0;
}



/*contact */

.contact{
    width: 90dvw;
    
}

.contact-heading{
    width: 30dvw;
    margin-left: 300px;
    margin-top: 100px;

}
.contact-heading img{
    height: 400px;
}
.contact-heading h1{
    font-size: 25px;
    padding: 10px 0;
}
.contact-details p, li{
    padding: 10px 0;
    list-style: none;



}
.contact-details p{
    text-transform: capitalize;
}
.contact-details li{
    font-weight: bold;
}

.message-form{
    display: flex;
    flex-direction: column;
    
}
.message-form input, textarea{
    border: none;
    border-bottom: 1px solid rgb(146, 146, 146);
    outline: none;
    margin: 10px 0;
    padding: 10px 10px;

}
.message-form textarea{
    background-color: rgb(223, 223, 223);
}
.message-form button{
    width: 90px;
    border: none;
    color: white;
    background-color: black;
    padding: 10px 10px;
    margin: 10px 0;
    margin-bottom: 50px;
}

/*footer*/
.footer{
    padding: 40px;
    display: flex;
    background-color: #1e1e1e;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.footer-logo{
    width: 20%;
}
.footer-logo h1{
    font-size: 40px;
 
}

.footer-menu{
    display: flex;
    flex-direction: column;
    
}
.footer-menu a{
    padding: 5px 0;
    color: #ffffff;
    text-decoration: none;
}
.footer-menu a:hover{
    color: black;
}
.footer-menu .socials{
    margin-top: 10px;
}


@media (max-width: 768px) {

    .hamburger-menu{
        font-size: 25px;
    }
    .logo img{
        margin-top: 10px;
        height: 30px;
        position: absolute;
        top: 20px;
    }
    .nav{
       
        display: block;
        justify-content: left;
        padding: 10px 10px ;
        height: 20px;
        align-items: flex-start;
        background-color: white;
    top: 0;
        transition: 0.3s;
        z-index: 1001;
    
    
    }
  
    .mobile-menu{
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;

    }
    .mobile-menu a{

        margin: 10px 0;
        display: block;
        font-size: 18px;
        padding: 0 10px;
        color: #3e3e3e;
        text-decoration: none;
    }
    .menu{
        margin-top: 70px;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;

    }
    .menu a{
        margin: 10px 0;
        display: block;
        font-size: 18px;
        padding: 0 10px;
        color: #3e3e3e;
        text-decoration: none;
    }   
   
    .menu a:hover{
        color: black;
    
    
    }
    .mobile-socials{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        background-color: white;

    }
    .mobile-socials a{
        font-size: 24px;
        padding: 0 10px;
        text-decoration: none;
        color: #3e3e3e;
    }
    
     .socials{
        display: none;
        justify-content: center;
        padding: 20px 0;
     }   
    
    .socials a{
        font-size: 24px;
        padding: 0 10px;
        text-decoration: none;
        color: #3e3e3e;
    }
    .socials a:hover{
        color: black;
    }
    .hamburger-menu{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    
    /* hero*/
    
    .hero{
        display: flex   ;
        height:  675px;
        justify-content: center;
        align-items: center;
    }
    
    .main{
        margin: 0;

    }
    .main img{

        height: 150px;
        margin-left: 0px;
        margin-top: -200px;
        z-index: 1000;
    
    }

    .main h3{
        position: absolute;
        top: 350px;
        left: 20px;
        font-weight: bold;
        font-size: 22px;
    }
    
    /* works */
    .works-section a{
        text-decoration: none;
    }
    .works-section{
        margin-bottom: 100px;
        margin-left: 20px;
        transition: 0.3s;
    }
    .works-section div{
        margin: 20px 0;
    }
    
    
    .works-card{
        display: flex;
        flex-wrap: wrap;
      
        align-items: center;
        height: 100% ;
   
        padding: 0 10px;
        margin-bottom: 20px;
      
    }
    
    .works-card-text{
        color: #3e3e3e;
        padding:    0px 10px;
       
    
    }
    .works-card-text h1{
        margin-left: 10px;
    }
    .works-card-text a{
        text-decoration: none;
    
    }
    .works-card-text p{
        width: 300px;
        margin: 0 10px;
    }
    .works-card-text:hover{
        color: black;   
    }
    .tags{
        
    }
    .works-card img{
        position: relative;
        width: 90%;
        opacity:1;
        padding: 0px 5px;
        box-shadow: 5px 5px 10px rgb(202, 202, 202);
    
    }
    .works-card img:hover{
        opacity: 1;
    }
    /* project page*/
    
    
    .back-arrow{
        font-size: 30px;
        padding: 30px;
        margin-left: 50px;
    }
    .back-arrow a{
        color: #3e3e3e;
        padding: 10px 10px;
        transition: 0.3s;
    
    }
    .back-arrow a:hover{
        color: black;
    }
    .project-page{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }
    .project-page img{
        height: 400px;
       box-shadow: 0 0 3px rgb(166, 166, 166);    
    }
    .project-page h1{
        padding: 20px 0;
    }
    
    
    
    
    /* about us section*/
    .about-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        
    }
    .about-image img{
        width: 90dvw;
        border-radius: 10px;
        opacity: 0.6;
    
    
    }
    .about-image h1{
        font-size: 20px;
        position: absolute;
    }
    .text-part-about-first {
        margin-top: 50px;
        padding: 0px 0px;
        width: 100dvw;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    
        
    }
    .text-part-about-first p{
        width: 90dvw;
     text-align: justify;
        color: #3e3e3e;
    }
    .text-part-about-second{
        display: flex;
        flex-direction: column;
        width: 90dvw;
        margin-top: 20px;
        margin-left: 20px;
        color: #2e2e2e;
    }
    .text-part-about-second h1{
        padding: 10px 0;
        font-size: 30px;
    }
    .text-part-about-second p{
        margin: 20px 0;
        text-align: justify;
        hyphens: auto;
    }
    
    
    
    /*contact */
    
    .contact{
        margin-top: 50px;
        width: 90dvw;
        margin-left: 10px;
        height: 100%;
        margin-bottom: 50px;
        
    }
    
    .contact-heading{
        width: 90dvw;
        margin-left: 10px;
        margin-top: 20px;
    
    }
    .contact-heading img{
        width: 90dvw;
        height: auto;
    }
    .contact-heading h1{
        font-size: 25px;
        padding: 10px 0;
    }
    .contact-details p, li{
        padding: 10px 0;
    
    
    }
    
    .message-form{
        display: flex;
        flex-direction: column;
        
    }
    .message-form input, textarea{
        border: none;
        border-bottom: 1px solid rgb(146, 146, 146);
        outline: none;
        margin: 10px 0;
        padding: 10px 10px;
    
    }
    .message-form textarea{
        background-color: rgb(223, 223, 223);
    }
    .message-form button{
        width: 90px;
        border: none;
        color: white;
        background-color: black;
        padding: 10px 10px;
        margin: 10px 0;
    }
    
    /*footer*/
    .footer{
        padding: 40px;
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
        justify-content: space-around;
        align-items: start;
        color: white;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-logo h1{
        font-size: 30px;
       
    }
    .footer-contact-details li{
        list-style: none;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        
    }
    .footer-menu a{
        padding: 5px 0;
        color: #ffffff;
        text-decoration: none;
    }
    .footer-menu a:hover{
        color: black;
    }
    .footer-menu .socials{
        margin-top: 10px;
    }
     
}